.header {
    background-color: $footerBg;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 1150px) {
            padding: 0 10px;
        }
        @media (max-width: 768px) {
            flex-wrap: wrap;
            background-color: #101b07;
        }
    }

    &-logo {
        max-width: 225px;
        padding: 7px 0;
        display: flex;
        @media (max-width: 560px) {
            max-width: 170px;
        }
        img {
            max-width: 100%;
        }
    }

    &-nav {
        @media (max-width: 768px) {
            display: none;
            width: 100%;
        }
        &-list {
            display: flex;
            @media (max-width: 768px) {
                flex-direction: column;
                padding-bottom: 15px;
            }
            li {


                a,span {
                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 78px;
                    padding: 0 10px 25px;
                    cursor: pointer;
                    transition: 0.2s;
                    @media screen and (min-width: 769px){
                        position: relative;
                        top: 25px;
                        z-index: 1;
                    }
                    @media (max-width: 768px) {
                        height: auto;
                        padding: 10px;
                    }
                    &:hover,
                    &.nav-item-link__active{
                        background: #ce4844;
                    }
                }
            }
        }
    }
    
}

.nav-toggle {
    display: none;
    // position: absolute;
    right: 10px;
    bottom: 13px;
    z-index: 2;
    cursor: pointer;
    background: #ce4844;
    padding: 0 8px 19px;
    position: relative;
    top: 12px;
    @media screen and (max-width: 768px) {
        display: block;
    }
}
.burger {
    display: block;
    width: 34px;
    height: 4px;
    margin: 6px 0;
    background: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
