$headerBg: rgba(#000, 0.5);
$accent: #ce4844;


$mainBg: #fff;
$footerBg: #022416;
$blueText: #050a1c;
$menu-color: #e1af36;
$titleColor: #2f3444;

.color-blue {
    color: $blueText;
}

.color-accent {
    color: $accent;
}